@tailwind base;
@tailwind components;
@tailwind utilities;


.animate-img {
  animation: img 2s linear .5s infinite reverse;
}

@keyframes img {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(5px);
  }

  100% {
    transform: translateY(0px);
  }
}